<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templates/template :: head">
    <meta charset="UTF-8">
    <title>Dice Game</title>
</head>
<body>
<header th:replace="templates/template :: header"></header>
<div class="container">
    <h1 th:text="${title}" class="text-center"></h1>
</div>
<div class="container">

    <div style="height: 20px;"></div>

    <h4 class="text-center">Play</h4>

    <a class="btn btn-primary btn-small" th:href="@{/diceGame/saveRolling/} + ${player.id}" title="Play">Play</a>

    <div class="row justify-content-center mt-3">
        <div class="col-md-auto">
            <strong>Dice 1:</strong>
            <span class="ml-2" th:text="${result.dice1}"></span>
        </div>
        <div class="col-md-auto">
            <strong>Dice 2:</strong>
            <span class="ml-2" th:text="${result.dice2}"></span>
        </div>
    </div>
    <div class="row justify-content-center mt-3">

        <div class="col-md-auto">
            <strong>Result:</strong>
            <span class="ml-2" th:text="${result.result}"></span>
        </div>
    </div>

    <div style="height: 20px;"></div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Cr. Date</th>
            <th scope="col">Avg. Score (%)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${player.id}"></td>
            <td th:text="${player.name}"></td>
            <td th:text="${player.date}"></td>
            <td th:text="${player.averageScore}"></td>

        </tr>
        </tbody>
    </table>


    <div style="height: 20px;"></div>

    <h4 class="text-center">Statistics</h4>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Number</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rol : ${rollings}">
            <th scope="row" th:text="${rol.id}"></th>
            <td th:text="${rol.number}"></td>
            <td th:text="${rol.result}"></td>
        </tr>

        </tbody>
    </table>

</div>


<footer th:replace="templates/template :: footer"></footer>
</body>
</html>