<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sucursals</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<header th:fragment="header">
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/sucursal}">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menu-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/sucursal/getAll}">Sucursals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sucursal/add}">Afegir sucursal</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MESSAGES -->
    <div class="alert alert-success alert-dismissable" th:if="${success!=null}">
        <label th:text="${success}"></label>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <div class="alert alert-danger alert-dismissable" th:if="${error!=null}">
        <label th:text="${error}"></label>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <div class="alert alert-warning alert-dismissable" th:if="${warning!=null}">
        <label th:text="${warning}"></label>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <div class="alert alert-info alert-dismissable" th:if="${info!=null}">
        <label th:text="${info}"></label>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

</header>
<!-- Container -->
<div class="container"></div>
<!-- Footnote -->

<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
    <div class="container">
        <p>Created by Abel</p>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</footer>

</body>

</html>